In [1]:
from __future__  import print_function  # Python 2/3 compatibility

import pkg_resources
import json
import pandas as pd
import boto3
pkg_resources.get_distribution("boto3").version

'1.19.3'

In [2]:
s3 = boto3.client('s3')

response = s3.get_object(
    Bucket='bearly-graph',
    Key='src/mpd.slice.0-999.json',
)
# Extracts body of the 
body = response['Body']
str_body = body.read()
s3_obj_content = json.loads(str_body)
playlists = s3_obj_content['playlists']

In [5]:
artist_list = []

for playlist in playlists:
    tracks = playlist['tracks']
    for track in tracks:
        artist_dict = {}
        artist_dict['~id'] = track['artist_uri']
        artist_dict['artist_name:String'] =  track['artist_name']
        artist_dict['label'] =  'artist'
        artist_list.append(artist_dict)

df = pd.DataFrame.from_dict(artist_list)

In [6]:
df.drop_duplicates()

                                         ~id artist_name:String   label
0      spotify:artist:2wIVse2owClT7go1WT98tk      Missy Elliott  artist
1      spotify:artist:26dSoYclwsYLMAKD3tpOr4     Britney Spears  artist
2      spotify:artist:6vWDO969PvNqNYHIOW5v0m            Beyoncé  artist
3      spotify:artist:31TPClRtHm23RisEBtV3X7  Justin Timberlake  artist
4      spotify:artist:5EvFsr3kj42KNv97ZEnqij             Shaggy  artist
...                                      ...                ...     ...
67498  spotify:artist:4IWBUUAFIplrNtaOHcJPRM       James Arthur  artist
67499  spotify:artist:0sHN89qak07mnug3LVVjzP          Big Words  artist
67500  spotify:artist:6Yv6OBXD6ZQakEljaGaDAk       Allan Rayman  artist
67501  spotify:artist:77bNdkKYBBmc30CisCA6tE          Jon Jason  artist
67502  spotify:artist:6Xa4nbrSTfbioA4lLShbjh           Grizfolk  artist

[67503 rows x 3 columns]

In [10]:
b_string = df.to_csv().encode('utf-8')
s3.put_object(Body=b_string, Bucket='bearly-graph', Key='vertex/version=2/artist_vertex_0.csv')

{'ResponseMetadata': {'RequestId': 'X97WJQY99MFGZ054',
  'HostId': 'pk+KpUZjpBqfb8B5WTYprGmGMTSYlbwP/THgEqEU1u0nbS8AqzF/HrsyuXwhHpBv9aBlyFePq7A=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'pk+KpUZjpBqfb8B5WTYprGmGMTSYlbwP/THgEqEU1u0nbS8AqzF/HrsyuXwhHpBv9aBlyFePq7A=',
   'x-amz-request-id': 'X97WJQY99MFGZ054',
   'date': 'Tue, 02 Nov 2021 02:43:26 GMT',
   'etag': '"033cb3d87d84f956ae351f7b94794433"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"033cb3d87d84f956ae351f7b94794433"'}